@import "tailwindcss";

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loader {
    border-top-color: transparent;
    border-right-color: transparent;
    animation: spin 1s linear infinite;
  }
  